<section id="election">
  {{#if frenteAFrenteFuncionalidad}}
    <div id="msj-alerta" class="alert alert-info">
      {{{frenteAFrenteFuncionalidad.title}}}
    </div>
  {{/if}}

  <div id="compare-candidates">
    <div class="row">
      <div class="col-md-6">
        {{ember-chosen
          placeholder='Selecciona un candidato'
          optionValuePath='id'
          optionLabelPath='nombre'
          content=model.perfiles
          value=perfilUnoId
        }}
      </div>
      <div class="col-md-6">
        {{ember-chosen
          placeholder='Selecciona un candidato'
          optionValuePath='id'
          optionLabelPath='nombre'
          content=model.perfiles
          value=perfilDosId
        }}
      </div>
    </div>

    <div class="hidden-xs">
      <div class="hidden-xs">
        {{#each-in frenteAFrenteSectionGroupedFields as |section fields|}}
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{section}}</h3></div>
            <div class="panel-body">
              {{#each-in fields as |fieldName field|}}
                <div class="row">
                  <div class="col-md-12">
                    <h5>{{field.label}}</h5>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-1">
                    <img
                      src="{{perfilUno.fotoPerfil}}"
                      alt="{{perfilUno.nombre}}"
                      border="0"
                      class="img-responsive"
                    >
                  </div>
                  <div class="col-md-5">
                    <div class="fondo-blanco contenedor">
                      <p>
                        {{get-html-safe perfilUno field.field}}
                      </p>
                      <p class="text-right">{{perfilUno.nombre}}</p>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <img
                      src="{{perfilDos.fotoPerfil}}"
                      alt="{{perfilDos.nombre}}"
                      border="0"
                      class="img-responsive"
                    >
                  </div>
                  <div class="col-md-5">
                    <div class="fondo-blanco contenedor">
                      <p>
                        {{get-html-safe perfilDos field.field}}
                      </p>
                      <p class="text-right">{{perfilDos.nombre}}</p>
                    </div>
                  </div>
                </div>
              {{/each-in}}
            </div>
            {{!-- {{frenteAFrenteField.field}}
            {{frenteAFrenteField.label}}
            {{frenteAFrenteField.section}} --}}
          </div>
        {{/each-in}}
      </div>
    </div>

    {{!-- TODO: Pendiente hacer responsive --}}
    {{!-- <div class="visible-xs">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Agenda Social</h3></div>
        <div class="panel-body">
          <h3 class="panel-title">¿De qué manera se puede ayudar a las familias en situación de pobreza?</h3>
          <div class="response-candidate-one">
            <p> 
              Capacitar, enseñar aptitudes y entregar herramientas de superación.
              <p class="position_description">
              </p>
              <small>&quot;Combatir la corrupción en los programas sociales e indicó que buscará mejorar los mismos&quot; (<a href="http://www.prensalibre.com/guatemala/retalhuleu/presidenciable-jimmy-morales-ofrece-combatir-corrupcion" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Jimmy Morales Cabrera</small></p>
          </div>
          <div class="response-candidate-two">
            <p> 
              Garantizar transferencias condicionadas para la superación de la pobreza.
              <p class="position_description">
              </p>
              <small>&quot;A las mujeres les vamos a dar Mi Familia Progresa,  Q300  mensuales y a los hombres les vamos a dar Mi Siembra Progresa Q. 300 mensuales&quot; Minuto 9:50  (<a href="https://www.youtube.com/watch?v=VVYtg3kE_2k" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Sandra Julieta Torres Casanova </small></p>
          </div>
          <h3 class="panel-title">¿Cómo se podría mejorar la situación de los hospitales en el país?</h3>
          <div class="response-candidate-one">
            <p> 
              Descentralizando la prestación de los servicios de salud.
              <p class="position_description">
              </p>
              <small>&quot;No puedo construir más hospitales, pero si se puede invertir con transparencia y solo de esa manera vamos a cambiar Guatemala.&quot; (<a href="http://www.prensalibre.com/guatemala/retalhuleu/presidenciable-jimmy-morales-ofrece-combatir-corrupcion" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Jimmy Morales Cabrera</small></p>
          </div>
          <div class="response-candidate-two">
            <p> 
              Aumentar la inversión estatal para la prestación de servicios y la prevención de enfermedades.
              <p class="position_description">
              </p>
              <small>&quot;Hay que trabajar mucho en la prevención. Hoy por hoy sólo hay centros de salud en los cascos urbanos, habíamos logrado centros de atención permanente .&quot; (<a href="http://www.plazapublica.com.gt/content/sandra-torres-y-una-socialdemocracia-maquilera" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Sandra Julieta Torres Casanova </small></p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Agenda de Seguridad y Justicia</h3>
        </div>
        <div class="panel-body">
          <h3 class="panel-title">¿Qué se debe hacer para combatir la delincuencia en el país?</h3>
          <div class="response-candidate-one">
            <p> 
              Promover una política de seguridad ciudadana basada en la prevención de delitos.
              <p class="position_description">
              </p>
              <small>&quot;Más y mejores polícias, invirtiendo en capacitación y tecnificación&quot; (<a href="http://www.prensalibre.com/hoy-se-realiza-dialogo-libre-con-candidatos" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Jimmy Morales Cabrera</small></p>
          </div>
          <div class="response-candidate-two">
            <p> 
              Reformar la Policía Nacional Civil garantizando su independencia y su capacitación técnica.
              <p class="position_description">
              </p>
              <small>&quot;Concesión público privada de las cárceles, y  retomar los programas de Escuelas Abiertas, como medida de prevención&quot; (<a href="http://www.prensalibre.com/hoy-se-realiza-dialogo-libre-con-candidatos" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Sandra Julieta Torres Casanova </small></p>
          </div>
          <h3 class="panel-title">¿Qué medidas se deben tomar respecto a la permanencia de la CICIG en el país?</h3>
          <div class="response-candidate-one">
            <p> 
              Permitir que siga operando en el país siempre que cumpla estrictamente con su mandato.
              <p class="position_description">
              </p>
              <small>&quot;El comisionado Iván Velásquez y la fiscal Thelma Aldana deben seguir&quot; (<a href="http://www.prensalibre.com/guatemala/decision-libre-2015/morales-afirma-que-cicig-debe-continuar" target="_blank">Fuente</a>)</small>
              <small>&quot;Incrementar el presupuesto de la Contraloría General de Cuentas y el Ministerio Público, así como ampliar a 6 años el mandato de la Comisión Internacional Contra la Impunidad en Guatemala, CICIG, y otorgarle jurisdicción sobre la administración pública&quot; (<a href="http://www.soy502.com/articulo/jimmy-morales-presenta-cinco-pilares-propuesta-gobierno" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Jimmy Morales Cabrera</small></p>
          </div>
          <div class="response-candidate-two">
            <p> 
              Garantizar su permanencia en el largo plazo y ampliar los temas que actualmente investigan.
              <p class="position_description">
              </p>
              <small>&quot;Estamos de acuerdo en que la CICIG entre a investigar el financiamiento de los partidos políticos” (<a href="http://lahora.gt/tras-informe-de-cicig-torres-ahora-niega-a-gustavo-alejos/" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Sandra Julieta Torres Casanova </small></p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Agenda Económica</h3>
        </div>
        <div class="panel-body">
          <h3 class="panel-title">¿Cómo se deberían proteger los recursos naturales?</h3>
          <div class="response-candidate-one">
            <p> 
              Promover una regulación que garantice y vigile los estándares de calidad en las operaciones.
              <p class="position_description">
              </p>
              <small>&quot;Fortalecer las facultades del Ministerio de Ambiente y Recursos Naturales, así como la legislación pertinente. Esto se debe de hacer con carácter de urgencia Nacional&quot; (<a href="https://www.facebook.com/JimmyOficial/photos/a.159203780818104.40454.158778054194010/869505596454582/" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Jimmy Morales Cabrera</small></p>
          </div>
          <div class="response-candidate-two">
            <p> 
              Involucrar el Estado como socio de estas operaciones para que garantice los controles y la distribución de riqueza a las comunidades cercanas.
              <p class="position_description">
              </p>
              <small>Mi bosque progresa “consiste en otorgar Q400 a cada hombre a cambio de cultivar y cuidar determinada cantidad de árboles, para devolver la vegetación a las montañas&quot;  Antepenúltimo párrafo  (<a href="http://sandratorressolidaridad.com.gt/2015/10/sandra-torres-el-planeta-esta-enfermo/" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Sandra Julieta Torres Casanova </small></p>
          </div>
          <h3 class="panel-title">¿Cómo reducimos la desigualdad en la forma en que está distribuida la riqueza en el país?</h3>
          <div class="response-candidate-one">
            <p> 
              A través de desarrollo económico y la creación de más puestos de trabajo.
              <p class="position_description">
              </p>
              <small>“En los mercados hay quienes que prestan al 10% diario, ¿quién se puede desarrollar comercialmente así? Pero el problema es que el banco le da al que no necesita, a una tasa baja. Al que necesita no se lo da fácilmente, y si se lo da le cobra un alto interés. Hay que cambiar eso”  (<a href="http://www.republicagt.com/economia/jimmy-morales-tributar-debe-ser-atractivo-para-todos/" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Jimmy Morales Cabrera</small></p>
          </div>
          <div class="response-candidate-two">
            <p> 
              Promover programas de inversión social que atiendan a las poblaciones vulnerables.
              <p class="position_description">
              </p>
              <small>&quot;Implementación de políticas públicas dirigidas a atacar los problemas de la falta de desarrollo ecuánime. Sin embargo, es preciso focalizar la acción del Estado sobre determinadas áreas” (<a href="http://sandratorresoportunidades.com" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Sandra Julieta Torres Casanova </small></p>
          </div>
          <h3 class="panel-title">¿Cómo deberían funcionar el sistema de impuestos para que el Estado cumpla sus responsabilidades?</h3>
          <div class="response-candidate-one">
            <p> 
              Hacer esfuerzos que transparentan el gasto público para utilizar mejor los recursos.
              <p class="position_description">
              </p>
              <small>&quot;Mi primera medida si gano es replantear el presupuesto nacional para orientarlo a la salud, educación y desarrollo económico.&quot; (<a href="http://internacional.elpais.com/internacional/2015/09/08/actualidad/1441677800_053356.html" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Jimmy Morales Cabrera</small></p>
          </div>
          <div class="response-candidate-two">
            <p> 
              Hacer esfuerzos que transparentan el gasto público para utilizar mejor los recursos.
              <p class="position_description">
              </p>
              <small>&quot;Trabajaré con el Presupuesto que el Congreso arpuebe, no estoy de acuerdo con los Bonos del Tesoro y préstamos externos&quot; (<a href="http://elperiodico.com.gt/2015/10/01/pais/sandra-torres-abucheada-en-la-camara-de-comercio/" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Sandra Julieta Torres Casanova </small></p>
          </div>
          <h3 class="panel-title">¿Cuál es la solución más adecuada para la falta de empleo?</h3>
          <div class="response-candidate-one">
            <p> 
              Generando empleos a través del sector privado, con apoyo e involucramiento del Estado.
              <p class="position_description">
              </p>
              <small>&quot;Creemos que podemos generar las oportunidades para que otras empresas puedan venir a poner  todo tipo de empresas de servicios tal es el caso de los call centers y empresas de turismo, que pueden ser una oportunidad para los jóvenes&quot; Segmento 2 Min 2:35 (<a href="http://www.guatevision.com/por-si-te-lo-perdiste-debate-yocuidomivotogt/" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Jimmy Morales Cabrera</small></p>
          </div>
          <div class="response-candidate-two">
            <p> 
              Generando empleos a través del sector privado, con apoyo e involucramiento del Estado.
              <p class="position_description">
              </p>
              <small>&quot;Implementaremos el programa mi primer empleo, donde daremos educación y experiencia a los jóvenes para darles trabajo con ayuda de los empresarios&quot; Segmento 2  Min 4:51 (<a href="http://www.guatevision.com/por-si-te-lo-perdiste-debate-yocuidomivotogt/" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Sandra Julieta Torres Casanova </small></p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Agenda Valórica</h3>
        </div>
        <div class="panel-body">
          <h3 class="panel-title">¿De qué manera podemos promover los valores a través del programa de educación?</h3>
          <div class="response-candidate-one">
            <p> 
              Enfocarse más en el alcance de valores a través de la ciencia, tecnología y las artes.
              <p class="position_description">
              </p>
              <small>Respecto a la legalización de la marihuana: &quot;nuestro sistema de salud está colapsado por la enfermedad, y si se generase una mayor adicción a las drogas, no tendríamos cómo enfrentarla.&quot; (<a href="http://internacional.elpais.com/internacional/2015/09/08/actualidad/1441677800_053356.html" target="_blank">Fuente</a>)</small>
              <small>&quot;No acepto el aborto, el matrimonio homosexual, ni la legalización del a marihuana. En el caso del matrimonio de personas del mismo sexo, lo rechazo porque no creo en eso y porque en Guatemala el 97% de la población tiene un pensamiento ético cristiano. Aprobar una ley así generaría desorden social.&quot;  (<a href="http://internacional.elpais.com/internacional/2015/09/08/actualidad/1441677800_053356.html" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Jimmy Morales Cabrera</small></p>
          </div>
          <div class="response-candidate-two">
            <p> 
              Dentro del programa educativo incluir la enseñanza de los valores generales.
              <p class="position_description">
              </p>
              <small>&quot;Mi posición está en contra de la pena de muerte y no comparto el aborto. También rechazo la posibilidad de legalizar las drogas, pero favorezco  la diversidad sexual&quot; (<a href="http://www.prensalibre.com/hoy-se-realiza-dialogo-libre-con-candidatos" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Sandra Julieta Torres Casanova </small></p>
          </div>
          <h3 class="panel-title">¿De qué forma debe actuar el Estado para garantizar nuestra libertad de expresión?</h3>
          <div class="response-candidate-one">
            <p> 
              Propiciar desde el Estado espacios de expresión para todos, democratizando el establecimiento de medios comunitarios.
              <p class="position_description">
              </p>
              <small>&quot;Los asesinatos de periodistas ya no deben suceder en un país democrático. Debemos aplicarnos para que eso no suceda&quot; (<a href="http://www.publinews.gt/guatevota2015/candidatos-a-la-presidencia-firman-la-declaracion-de-chapultepec/Tetohg---J1F0G1zUtsHgM/" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Jimmy Morales Cabrera</small></p>
          </div>
          <div class="response-candidate-two">
            <p> 
              Garantizar que no exista intervención del Estado, su intromisión es una amenaza a libertad.
              <p class="position_description">
              </p>
              <small>&quot;Me comprometo que al ganar la presidencia, protección a los periodistas y velar por la libertad de prensa&quot; (<a href="https://twitter.com/marjorievonahn/status/629449614748459008" target="_blank">Fuente</a>)</small>
            </p>
            <p class="text-right"><small>Sandra Julieta Torres Casanova </small></p>
          </div>
        </div>
      </div>
    </div> --}}
  </div>
</section>
