<section id="election">
  <div class="container-profile">
    <div>
      <h3 class="text-center">{{model.perfil.nombre}}</h3>
    </div>

    <div class="profile-candidate">
      <div class="row">
        <div class="col-md-3">
          <div id="candidate-img-profile">
            <img
              src="{{model.perfil.fotoPerfil}}"
              alt="{{model.perfil.nombre}}"
              border="0"
              class="img-responsive"
            >
          </div>
        </div>

        <div class="col-md-5">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <span>Cargo:</span>
                  {{if
                    model.perfil.cargoNombreCompleto
                    model.perfil.cargoNombreCompleto
                    model.perfil.cargoNombreCorto
                  }}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Institución:</span>
                  {{model.perfil.institucion.nombreCompleto}}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Profesión:</span>
                  {{model.perfil.profesion}}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Educación:</span>
                  {{model.perfil.educacion}}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Fecha nacimiento:</span>
                  {{model.perfil.fechaNacimiento}}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Lugar de nacimiento:</span>
                  {{model.perfil.lugarNacimiento}}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Partido postulante:</span>
                  {{model.perfil.partidoPostulante.nombreCorto}}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Partido actual:</span>
                  {{model.perfil.partidoActual.nombreCorto}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-4 social-side">
          {{!-- TODO: Completar --}}
          <div class="logo-partido">
            <img
              src="{{model.perfil.partidoActual.logo}}"
              alt="{{model.perfil.partidoActual.nombreCompleto}}"
            >
          </div>
          <ul class="list-unstyled">

            {{#if model.perfil.tw}}
              <li>
                <a
                  href="https://twitter.com/{{model.perfil.tw}}"
                  class="social-link-candidate"
                  target="_blank">@{{model.perfil.tw}}
                </a>
              </li>
            {{/if}}

            {{#if model.perfil.fb}}
              <li>
                <a
                  href="{{model.perfil.fb}}"
                  class="social-link-candidate"
                  target="_blank"
                >
                  {{model.perfil.nombre}}
                </a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="questionary">
    <div class="row">
      <div class="col-md-6">
        <h3></h3>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Biografía</div>
      <div class="panel-body">
        {{{ model.perfil.biografia }}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Desempeño</div>
      <div class="panel-body">
        {{{ model.perfil.desempenio }}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Historial político</div>
      <div class="panel-body">
        {{{ model.perfil.historialPolitico }}}
      </div>
    </div>
  </div>

  {{disqus-comments identifier=model.perfil.disqusIdentifier}}
</section>
