<div id="wrapper">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        {{#link-to "application"}}
          <img
            src="{{model.config.logoUrl}}"
            class="img-responsive"
            title="{{model.config.logoTitle}}"
            alt="{{model.config.logoTitle}}">
        {{/link-to}}
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {{#each model.config.navbarLinks as |link|}}
            <li>
              {{#link-to link.route}}
                {{link.title}}
              {{/link-to}}
            </li>
          {{/each}}

          {{#if model.config.twitterShareLink}}
            <li>
              <a
                href="#"
                target="_blank"
                onclick={{action 'shareOnTwitter'}}
              >
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          {{/if}}

          {{#if model.config.facebookShareLink}}
            <li>
              <a
                href="{{model.config.facebookShareLink}}"
                target="_blank"
              >
                <i class="fa fa-facebook-official"></i>
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    {{outlet}}
  </div>
</div>
