<div class="row block02" style="padding:10px 0px; background-image:none; width: 75%; margin: 0 auto;">
    <h3 class="new" style="padding-bottom:0; text-align:center;">
        {{model.funcionario.nombre}}
    </h3>
</div>

<div class="row block02" style="padding:30px 0px; background-image:none;">
    <div class="col-1-3">
        <p>
            <img
              src="{{model.funcionario.fotoFuncionario}}"
              alt="{{model.funcionario.nombre}}"
            >
        </p>
    </div>

    <div class="col-1-3">
        <p>
          <strong>Cargo:</strong>
          {{if
            model.funcionario.cargoNombreCompleto
            model.funcionario.cargoNombreCompleto
            model.funcionario.cargoNombreCorto
          }}
        </p>
        <p>
          <strong>Institución:</strong>
          {{model.funcionario.institucion.nombreCompleto}}
        </p>
        <p>
          <strong>Profesión:</strong>
          {{model.funcionario.profesion}}
        </p>
        <p>
          <strong>Educación:</strong>
          {{model.funcionario.educacion}}
        </p>
        <p>
          <strong>Fecha nacimiento:</strong>
          {{model.funcionario.fechaNacimiento}}
        </p>
        <p>
          <strong>Lugar de nacimiento:</strong>
          {{model.funcionario.lugarNacimiento}}
        </p>
        <p>
          <strong>Partido postulante:</strong>
          {{model.funcionario.partidoPostulante.nombreCorto}}
        </p>
        <p>
          <strong>Partido actual:</strong>
          {{model.funcionario.partidoActual.nombreCorto}}
        </p>
    </div>

    <div class="col-1-3">
        <div style="text-align: center;">
            {{#if model.funcionario.partidoActual.logo}}
              <img
                src="{{model.funcionario.partidoActual.logo}}"
                alt="{{model.funcionario.partidoActual.nombreCompleto}}"
              >
            {{/if}}

            <p>
                {{model.funcionario.partidoActual.nombreCompleto}}
            </p>
        </div>

        <br>

        {{#if model.funcionario.email }}
            <p class="te">
                <i
                    class="fa fa-envelope"
                    aria-hidden="true"
                    style="color:#78c1ec; margin-top: 7px; margin-right:10px;"
                ></i>
                {{ model.funcionario.email }}
            </p>
        {{/if}}

        {{#if model.funcionario.direccion }}
            <p class="te">
                <i
                    class="fa fa-map-marker"
                    aria-hidden="true"
                    style="color: #78c1ec; margin-right: 11px; font-size: 20px; margin-top: 5px; margin-left: 2px;"
                ></i>
                {{ model.funcionario.direccion }}
            </p>
        {{/if}}

        {{#if model.funcionario.telefono }}
            <p class="te">
                <i
                    class="fa fa-mobile"
                    aria-hidden="true"
                    style="color: #78c1ec; margin-right: 11px; font-size: 25px; margin-left: 3px;"
                ></i>
                {{ model.funcionario.telefono }}
            </p>
        {{/if}}

        {{#if model.funcionario.fb }}
            <p class="te">
                <i
                    class="fa fa-facebook"
                    aria-hidden="true"
                    style="color: #78c1ec; margin-right: 11px; font-size: 25px; margin-left: 3px;"
                ></i>
                <a href="{{model.funcionario.fb}}" target="_blank">Facebook</a>
            </p>
        {{/if}}

        {{#if model.funcionario.tw}}
            <p class="te">
                <i
                    class="fa fa-twitter"
                    aria-hidden="true"
                    style="color: #78c1ec; margin-right: 11px; font-size: 25px; margin-left: 3px;"
                ></i>
                <a href="{{model.funcionario.tw}}" target="_blank">@{{model.funcionario.tw}}</a>
            </p>
        {{/if}}
    </div>
</div>

<div class="row block01">
    <div class="col-1-4">
        <div class="wrap-col">
            <img src="images/a1.png" />
        </div>
    </div>
    <div class="col-1-4">
        <div class="wrap-col">
            <img src="images/a2.png" />
        </div>
    </div>
    <div class="col-1-4">
        <div class="wrap-col">
            <img src="images/a3.png" />
        </div>
    </div>
    <div class="col-1-4">
        <div class="wrap-col">
            <img src="images/a4.png" />
        </div>
    </div>
</div>

<div
    class="row block02"
    style=" background:#78c1ec; box-sizing: border-box; border-radius: 10px; padding: 30px;"
>
    <ul class="tabs">
        <li class="active" rel="tab1">Biografia</li>
    </ul>
    <div class="tab_container">
        <h3 class="d_active tab_drawer_heading" rel="tab1">Tab 1</h3>
        <div id="tab1" class="tab_content">
            {{{ model.funcionario.biografia }}}
        </div>
    </div>
</div>

<div class="row block02" style=" background:#f2f2f2;">
    <h3 class="new" style="text-align:center;">DISQUS</h3>
</div>
