{{#if model.config.siteMainTitle}}
  {{{model.config.siteMainTitle}}}
{{/if}}

<div>
  {{#if model.config.banner1Title}}
    {{{model.config.banner1Title}}}
  {{/if}}

  {{#if model.config.banner1Link}}
    <img src="{{model.config.banner1Link}}" />
  {{/if}}

  {{#if model.config.banner1Slider}}
    <div class="hidden-xs">
      <div class="accordion" id="slider">
        {{#each model.config.mainPageSliderData as |link|}}
          <li>
            {{#if link.link}}
              <a href="{{link.link}}">
                <img src="{{link.imageLink}}" alt="{{link.caption}}"/>
              </a>
            {{else}}
              {{#link-to link.route link.id}}
                <img src="{{link.imageLink}}" alt="{{link.caption}}"/>
              {{/link-to}}
            {{/if}}
            <div class="caption">{{link.caption}}</div>
          </li>
        {{/each}}
      </div>
    </div>

    <div class="visible-xs">
      <ul>
        {{#each model.config.mainPageSliderData as |link|}}
          <li>
            {{#if link.link}}
              <a href="{{link.link}}">
                {{link.caption}}
              </a>
            {{else}}
              {{#link-to link.route link.id}}
                {{link.caption}}
              {{/link-to}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if model.config.banner1Footer}}
    {{{model.config.banner1Footer}}}
  {{/if}}
</div>

{{#power-select
  selected=currentCandidato
  options=model.perfiles
  onchange=(route-action 'selectCandidato')
  placeholder='Buscar'
    as |candidato|
}}
  <strong>{{candidato.nombre}}</strong>
{{/power-select}}

{{#if model.config.mainPageLinks}}
  <div class="row main-page-links">
    {{#each model.config.mainPageLinks as |link|}}
      <div class="col-md-4">
        {{#if link.link}}
          <a href="{{link.link}}">
            {{#if link.imageLink}}
              <img src="{{link.imageLink}}" title="{{link.title}}"/>
            {{else}}
              {{link.title}}
            {{/if}}
          </a>
        {{else}}
          {{#link-to link.route}}
            {{#if link.imageLink}}
              <img src="{{link.imageLink}}" title="{{link.title}}"/>
            {{else}}
              {{link.title}}
            {{/if}}
          {{/link-to}}
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}
