{{#if model.config.siteMainTitle}}
  {{{model.config.siteMainTitle}}}
{{/if}}

<div>
  {{#if model.config.banner1Title}}
    {{{model.config.banner1Title}}}
  {{/if}}

  {{#if model.config.banner1Link}}
    <img src="{{model.config.banner1Link}}" />
  {{/if}}

  {{#if model.config.banner1Slider}}
    <div class="accordion" id="slider">
      <li>
        <a href="/election/candidatos-presidencial-primera-vuelta/luis-fernando-perez">
          <img src="http://vi-gt2015.s3.amazonaws.com/cache/4b/f8/4bf8117c4cc2e8ffbfb754a3a3a6ad8b.jpg" alt="Luis Fernando Pérez Martínez "/>
        </a>
        <div class="caption">Luis Fernando Pérez Martínez </div>
      </li>
      <li>
        <a href="/election/candidatos-presidencial-primera-vuelta/manuel-baldizon">
          <img src="http://vi-gt2015.s3.amazonaws.com/cache/db/1a/db1a8bfb69253aae452dcd8c2c54bb30.jpg" alt="Manuel Antonio Baldizon Mendez "/>
        </a>
        <div class="caption">Manuel Antonio Baldizon Mendez </div>
      </li>
      <li>
        <a href="/election/candidatos-presidencial-primera-vuelta/mario-estrada-orellana">
          <img src="http://vi-gt2015.s3.amazonaws.com/cache/e5/e5/e5e5b94c28d17dc3272683925bf05b0f.jpg" alt="Mario Amilcar Estrada Orellana "/>
        </a>
        <div class="caption">Mario Amilcar Estrada Orellana </div>
      </li>
      <li>
        <a href="/election/candidatos-presidencial-primera-vuelta/mario-david-garcia-velasquez">
          <img src="http://vi-gt2015.s3.amazonaws.com/cache/0f/84/0f8489efb7bbe7bbda662d6597935561.jpg" alt="Mario David García Velásquez"/>
        </a>
        <div class="caption">Mario David García Velásquez</div>
      </li>
      <li>
        <a href="/election/candidatos-presidencial-primera-vuelta/rodolfo-anibal-garcia-hernandez">
          <img src="http://vi-gt2015.s3.amazonaws.com/cache/6f/83/6f8313b101fbc8a878e33510c23530d5.jpg" alt="Rodolfo Anibal Garcia Hernandez"/>
        </a>
        <div class="caption">Rodolfo Anibal Garcia Hernandez</div>
      </li>
      <li>
        <a href="/election/candidatos-presidencial-primera-vuelta/alejandro-giammattei-falla">
          <img src="http://vi-gt2015.s3.amazonaws.com/cache/85/b7/85b75113fed34d3a7508f1cb9ff87f58.jpg" alt="Alejandro Eduardo Giammattei Falla"/>
        </a>
        <div class="caption">Alejandro Eduardo Giammattei Falla</div>
      </li>
      <li>
        <a href="/election/candidatos-presidencial-primera-vuelta/miguel-angel-sandoval-vasquez">
          <img src="http://vi-gt2015.s3.amazonaws.com/cache/cb/4b/cb4b8788db8fe783abf4d2c87a3d9cd5.jpg" alt="Miguel Ángel Sandoval Vásquez"/>
        </a>
        <div class="caption">Miguel Ángel Sandoval Vásquez</div>
      </li>
      <li>
        <a href="/election/candidatos-presidencial-primera-vuelta/zury-rios">
          <img src="http://vi-gt2015.s3.amazonaws.com/cache/3f/25/3f25b4db4cbabc1839680a8bcafb2d9f.jpg" alt="Zury Mayte Rios Sosa"/>
        </a>
        <div class="caption">Zury Mayte Rios Sosa</div>
      </li>
      <li>
        <a href="/election/candidatos-presidencial-primera-vuelta/juan-gutierrez">
          <img src="http://vi-gt2015.s3.amazonaws.com/cache/9d/5a/9d5a269082f544230b568e3c4ce3f578.jpg" alt="Juan Guillermo Gutiérrez Strauss "/>
        </a>
        <div class="caption">Juan Guillermo Gutiérrez Strauss </div>
      </li>
      <li>
        <a href="/election/candidatos-presidencial-primera-vuelta/lisardo-sosa">
          <img src="http://vi-gt2015.s3.amazonaws.com/cache/0c/58/0c58076353bc6a4efd8074411c436d60.jpg" alt="Lizardo Arturo Sosa Lopez "/>
        </a>
        <div class="caption">Lizardo Arturo Sosa Lopez </div>
      </li>
      <li>
        <a href="/election/candidatos-presidencial-primera-vuelta/jose-angel-lopez">
          <img src="http://vi-gt2015.s3.amazonaws.com/cache/d3/1e/d31e2938d5c5017e0bd560989f794d10.jpg" alt="José Angel López Camposeco "/>
        </a>
        <div class="caption">José Angel López Camposeco </div>
      </li>
      <li>
        <a href="/election/candidatos-presidencial-primera-vuelta/roberto-gonzalez-diaz-duran">
          <img src="http://vi-gt2015.s3.amazonaws.com/cache/35/32/3532292351bb88f8f590c2822f63b8c6.jpg" alt="Roberto González Díaz Durán "/>
        </a>
        <div class="caption">Roberto González Díaz Durán </div>
      </li>
    </div>
  {{/if}}

  {{#if model.config.banner1Footer}}
    {{{model.config.banner1Footer}}}
  {{/if}}
</div>

{{#if model.config.mainPageLinks}}
  <div class="row main-page-links">
    {{#each model.config.mainPageLinks as |link|}}
      <div class="col-md-4">
        {{#if link.link}}
          <a href="{{link.link}}">
            {{#if link.imageLink}}
              <img src="{{link.imageLink}}" title="{{link.title}}"/>
            {{else}}
              {{link.title}}
            {{/if}}
          </a>
        {{else}}
          {{#link-to link.route}}
            {{#if link.imageLink}}
              <img src="{{link.imageLink}}" title="{{link.title}}"/>
            {{else}}
              {{link.title}}
            {{/if}}
          {{/link-to}}
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}
