{{#if model.config.siteMainTitle}}
  {{{model.config.siteMainTitle}}}
{{/if}}

<div>
  {{#if model.config.banner1Title}}
    {{{model.config.banner1Title}}}
  {{/if}}

  {{#if model.config.banner1Link}}
    <img src="{{model.config.banner1Link}}" />
  {{/if}}

  {{#if model.config.banner1Footer}}
    {{{model.config.banner1Footer}}}
  {{/if}}
</div>

{{#if model.config.mainPageLinks}}
  <div class="row main-page-links">
    {{#each model.config.mainPageLinks as |link|}}
      <div class="col-md-4">
        {{#if link.link}}
          <a href="{{link.link}}">
            {{#if link.imageLink}}
              <img src="{{link.imageLink}}" title="{{link.title}}"/>
            {{else}}
              {{link.title}}
            {{/if}}
          </a>
        {{else}}
          {{#link-to link.route}}
            {{#if link.imageLink}}
              <img src="{{link.imageLink}}" title="{{link.title}}"/>
            {{else}}
              {{link.title}}
            {{/if}}
          {{/link-to}}
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}
