<section id="election">
  <div>
    <h2 class="text-center">Funcionarios - Congreso de la República</h2>
  </div>

  <div class="container-profile">
    <div>
      <h3>{{model.funcionario.nombre}}</h3>
    </div>

    <div class="profile-candidate">
      <div class="row">
        <div class="col-md-3">
          <div id="candidate-img-profile">
            <img
              src="{{model.funcionario.fotoFuncionario}}"
              alt="{{model.funcionario.nombre}}"
              height="300"
              width="300"
              border="0"
              class="img-responsive"
            >
          </div>
        </div>

        <div class="col-md-5">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <span>Cargo:</span>
                  {{if
                    model.funcionario.cargoNombreCompleto
                    model.funcionario.cargoNombreCompleto
                    model.funcionario.cargoNombreCorto
                  }}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Institución:</span>
                  {{model.funcionario.institucion.nombreCompleto}}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Profesión:</span>
                  {{model.funcionario.profesion}}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Educación:</span>
                  {{model.funcionario.educacion}}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Fecha nacimiento:</span>
                  {{model.funcionario.fechaNacimiento}}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Lugar de nacimiento:</span>
                  {{model.funcionario.lugarNacimiento}}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Partido postulante:</span>
                  {{model.funcionario.partidoPostulante.nombreCorto}}
                </td>
              </tr>
              <tr>
                <td>
                  <span>Partido actual:</span>
                  {{model.funcionario.partidoActual.nombreCorto}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-4 social-side">
          <div class="logo-partido">
            <img
              src="{{model.funcionario.partidoActual.logo}}"
              alt="{{model.funcionario.partidoActual.nombreCompleto}}"
            >
          </div>
          <ul class="list-unstyled">

            {{#if model.funcionario.tw}}
              <li>
                <a
                  href="https://twitter.com/{{model.funcionario.tw}}"
                  class="social-link-candidate"
                  target="_blank">@{{model.funcionario.tw}}
                </a>
              </li>
            {{/if}}

            {{#if model.funcionario.fb}}
              <li>
                <a
                  href="{{model.funcionario.fb}}"
                  class="social-link-candidate"
                  target="_blank"
                >
                  {{model.funcionario.nombre}}
                </a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="questionary">
    <div class="row">
      <div class="col-md-6">
        <h3></h3>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Biografía</div>
      <div class="panel-body">
        {{{ model.funcionario.biografia }}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Desempeño</div>
      <div class="panel-body">
        {{{ model.funcionario.desempenio }}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Historial político</div>
      <div class="panel-body">
        {{{ model.funcionario.historialPolitico }}}
      </div>
    </div>
  </div>

  {{!-- TODO: Pendiente de agregar Discuss --}}
</section>
